@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

/* Font smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
